[core]
  pager = delta
	editor = nvim
	ignorecase = false

[delta]
  plus-style = syntax "#003800"
  minus-style = syntax bold "#5A5E60" 
  hunk-header-style = omit
  syntax-theme = Nord 
  features = line-numbers
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28

[interactive]
  diffFilter = delta --color-only

[diff]
  colorMoved = default
[user]
	name = Karey Higuera
	email = karey.higuera@gmail.com
[pull]
	rebase = true
[fetch]
	prune = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
  # ATTENTION: All aliases prefixed with ! run in /bin/sh make sure you use sh syntax, not bash/zsh or whatever
    recentb = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"branch|lastcommit|author\\n\" && cat) | column -ts'|';}; r"
