# Aliases
alias zshconfig="nano ~/.zshrc"
alias zshsource="source ~/.zshrc"
alias myip="curl ipinfo.io/ip"
alias weather="curl wttr.in"
alias ll="exa -1 -a --icons --color=always --git-ignore"
alias yt="youtube-dl -x --no-mtime -o '/mnt/c/Users/karey/Music/%(title)s.%(ext)s' --add-metadata --no-playlist -x --audio-format mp3 --no-call-home"
alias gc="gatsby clean"
alias gd="gatsby develop"
alias gcd="gatsby clean && gatsby develop"
alias gb="gatsby build"
alias gs="gatsby serve"
alias bat="bat --italic-text always --theme \"Sublime Snazzy\""
alias vpn="expressvpn"
alias gc="gatsby clean"
alias gd="gatsby develop"
alias ttm="ttm -p $HOME/glass-notes -a --assets-path $HOME/glass-notes/assets"
alias untar="tar -zxvf"
alias clip="xclip -selection c"
alias fd="fdfind"
