#!/bin/bash
# Aliases
alias myip="curl ipinfo.io/ip"
alias ll="eza -1 -a --icons --color=always"
alias la="eza -la --icons"
alias yt="yt-dlp -x --no-mtime -o '$HOME/Music/%(title)s.%(ext)s' --add-metadata --no-playlist -x --audio-format mp3 --no-call-home"
alias batpage="--paging=never -l log"
alias untar="tar -zxvf"
alias fd="fdfind"
alias cp="cp -Rv"
alias mkdir="mkdir -pv"
alias mv="mv -v"
alias rsync="rsync --protect-args --compress --verbose --progress --human-readable"
alias aria="aria2c --seed-time=0"
alias rg="rg --hidden"

# Use batman if it exists
if command -v batman $> /dev/null 
then
  alias man=batman
fi 
