#!/bin/bash
# Aliases
alias myip="curl ipinfo.io/ip"
alias weather="curl wttr.in"
alias ll="exa -1 -a --icons --color=always"
alias la="exa -la --icons"
alias batpage="--paging=never -l log"
alias clip="xclip -selection c"
alias fd="fdfind"
alias cp="cp -Rv"
alias mkdir="mkdir -pv"
alias mv="mv -v"
alias rsync="rsync --protect-args --compress --verbose --progress --human-readable"
alias svg="rsvg-convert | img"
alias cr="cargo run"
alias cc="cargo check"
alias scripts="cat package.json | jq '. | .scripts'"
alias aria="aria2c --seed-time=0"
alias todo="todo.sh"
alias rg="rg --hidden"
# croc fails for me on mac without sudo -_-
alias croc="sudo croc"

# Git
alias wka="git worktree add"
alias wkr="git worktree remove"

# Use batman if it exists
if command -v batman $> /dev/null 
then
  alias man=batman
fi 
